body {
    background-color: black;
    color: gold;
}
/* .container {
    display: flex;
    align-items: center;
} */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 50%;
}


.fran-f{
    border-radius: 50%;
    display: inline-block;
    /* display: flex;
    justify-content: center;
    align-items: center;
     */
}
.fran-nombre {
    font-size: 34px;
    margin-top: 10px;
    font-family: 'Alex Brush',cursive;
    margin-left: 70px;
    /* text-align: center; */
}
.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear el contenido al inicio (izquierda) */
    text-align: center;
}
.subtitle {
    font-size: 100px; /* Ajusta el tamaño de fuente según sea necesario */
    color: #FF1493; /* Color de la fuente */
    text-align: center;
    /* text-transform: uppercase; */
    /* font-weight: bold; */
    font-family: 'Playfair Display', serif;
    position: relative; /* Para poder posicionar la línea */
    -webkit-text-stroke: 1px white; /* Borde blanco alrededor del texto */
}
.title {
    font-size: 24px; /* Adjust the font size */
    margin-top: 10px; /* Space between image and title */
    
    /* text-align: center; */
}




a{
    color: rgb(255, 0, 251);
}

    
.navigation button {
    background-color: transparent; /* Remove background color */
    border: none; /* Remove borders */
    font-size: 20px; /* Increase font size */
    color: inherit; /* Inherit text color from parent */
    cursor: pointer; /* Change cursor to pointer */
    padding: 10px 20px; /* Add some padding */
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Hace que las imágenes sean redondas */
    border: none; /* Elimina cualquier borde */
    box-shadow: none; /* Elimina cualquier sombra */
}

