body {
    background: linear-gradient(to right, black, rgb(35, 0, 139));
    color: rgba(255, 225, 0, 0.772);
}
/* .container {
    display: flex;
    align-items: center;
} */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 50%;
}


.fran-f{
    border-radius: 50%;
    display: inline-block;
    /* display: flex;
    justify-content: center;
    align-items: center;
     */
}
.fran-nombre {
    font-size: 34px;
    margin-top: 10px;
    font-family: 'Alex Brush',cursive;
    margin-left: 70px;
    /* text-align: center; */
}
.grow-p{
    font-family: 'Noto Serif Georgian', serif;
    font-weight: 600;
    margin-left: 60px;
    font-size: 25px;
}
.fitness-e{
    font-family: 'Noto Serif Georgian', serif;
    font-weight: 600;
    margin-left: 60px;
    font-size: 25px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear el contenido al inicio (izquierda) */
    text-align: center;
}

.subtitle {
    font-size: 80px; /* Ajusta el tamaño de fuente según sea necesario */
    color: #FF1493; /* Color de la fuente */
    text-align: center;
    font-family: 'Playfair Display', serif;
    position: relative; /* Para poder posicionar la línea */
    -webkit-text-stroke: 0.5px white; /* Borde blanco alrededor del texto */
}

.subtitle::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 60%; /* Ajusta este valor para mover la línea más abajo */
    border-top: 1px solid white; /* Ajusta el color y grosor de la línea */
    transform: translateY(-50%);
}


.title {
    font-size: 34px; /* Adjust the font size */
    font-family: 'Alex Brush',cursive;
    margin-top: 10px; /* Space between image and title */
    margin-left: 100px;
    /* text-align: center; */
}


/* a{
    margin-left: 10px;
} */

    
.navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px; /* Espacio entre botones */
}
.nav-button {
    background-color: transparent; /* Color de fondo */
    color: rgb(255, 0, 251); /* Color del texto */
    border: 0; /* Borde del botón */
    border-radius: 5px; /* Redondear los bordes */
    font-size: 20px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor a pointer */
    padding: 10px 20px; /* Añadir padding */
    transition: all 0.3s ease; /* Transición suave para el efecto hover */
    
}
.nav-button:hover {
    background-color: rgb(255, 0, 251); /* Color de fondo al hacer hover */
    color: rgb(18, 21, 215); /* Color del texto al hacer hover */
     /* Añadir redondeo para el efecto hover */
}



.logos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Hace que las imágenes sean redondas */
    border: none; /* Elimina cualquier borde */
    box-shadow: none; /* Elimina cualquier sombra */
}

